<h1>Iniciar Session</h1>

{{#if error}}
  <p>{{error}}</p>
{{/if}}

  <div>
    <form action="/api/session/login" method="post">
      <label for="email">Correo</label><br />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="introduzca su correo electronico"
      />
      <br />
      <label for="password">Contrasena</label>
      <br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="introduzca su contrasena"
        required
      />
      <br />
      <button type="submit">Iniciar Sesion</button>
    </form>
  </div>

</div>
